.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__container {
  height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__name-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-size: 18px;
  line-height: 116.66667%;
}

.header__button {
  background-color: #4285f4;
}

.header__button:hover {
  background: #1d70f5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0 160px 0 20px;
}

.menu__list {
  max-width: 346px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 346px;
      flex-basis: 346px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  font-family: "Raleway";
  font-size: 10px;
  line-height: 120%;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.14em;
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__item:hover {
  color: #ec5863;
}
