//@import url();

$minWidth: 320px;
$maxWidth: 1152px;
$maxWidthContainer: 943px;
//брейкпоинты
//https://youtu.be/vkq7ckCkvjY?t=9345 палит весь свой файл
$md1: $maxWidthContainer + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

@import url("./src/css/index.css");
@import "ui";
@import "header";
@import "page";
@import "footer";
@import "fonts";
@import "animation";
@import url("./src/style/icons.css");

$fontFamily: "Gilroy";

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

//це селектор все у кого есть name__container получат
[class*="__container"] {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    @media (max-width: $md1) {
        max-width: 750px;
    }
    @media (max-width: $md2) {
        max-width: none;
        padding: 0 10px;
    }
    @media (max-width: $md3) {
        max-width: none;
        padding: 0 30px;
    }
}

body {
    font-family: $fontFamily;
}

.page {
    flex: 1 1 auto;
}
